body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-multiple-border {
  width: 200px;
  height: 200px;
  background: yellowgreen;
  /* Box shadow accepts a fourth param for shadow spread and can stack multiple shadows */
  /* Multiple shadows can be built up thusly */
  box-shadow: 0 0 0 10px #655, 0 0 0 15px deeppink;
  transition: all 1s ease-in-out;
}

.container-stiched {
  /* Stiched effect with inner border and then outter outline */
  margin-top: 30px;
  width: 200px;
  height: 200px;
  background: brown;
  border: 2px dashed white;
  outline: 10px solid brown;
}

.shadow-grow {
  box-shadow: 0 0 0 10px #655, 0 0 0 15px deeppink,
    0 2px 5px 15px rgba(0, 0, 0, 0.6);
}
